---
import Layout from "@layouts/Layout.astro";
import HomeAbout from "@components/HomeAbout.astro";
import TwitchInfo from "@components/TwitchInfo.astro";
import NewsletterSignup from "@components/NewsletterSignup.astro";
import Card from "@components/Card.astro";
import type { OpenGraphData } from "../types";
import { OpenGraphGenerator } from "@utils/openGraphGenerator";
import { ContentfulPerson } from "@lib/contentfulPerson";
import { getActivityFeed } from "@lib/contentfulActivityFeedItems";

const person = await ContentfulPerson.get();
const activityFeedItems = await getActivityFeed(9);

const openGraphImageUrl = await OpenGraphGenerator.generateImageUrl(
  "Live streamer, software engineer and developer educator",
);

const pageTitle =
  "Salma Alam-Naylor — live streamer, software engineer and developer educator";

const openGraphData: OpenGraphData = {
  url: "https://whitep4nth3r.com/",
  imageAlt: OpenGraphGenerator.generateImageAlt(pageTitle),
  imageUrl: openGraphImageUrl,
  imageWidth: OpenGraphGenerator.imgWidth,
  imageHeight: OpenGraphGenerator.imgHeight,
};
---

<Layout
  title={pageTitle}
  canonical="https://whitep4nth3r.com"
  metaDescription="I write code for your entertainment. I stream live coding on Twitch, help developers build great websites, and love helping people get into tech."
  openGraph={openGraphData}
  activeNav="home"
>
  <section class="home">
    <div class="home__left">
      <div class="home__fixed">
        <HomeAbout bio={person.bioShort} />
      </div>
    </div>

    <div class="home__scroll">
      <div class="home__twitch">
        <TwitchInfo />
      </div>
      <a href="/activity/" class="home__heading">Latest news and activity</a>
      <div class="home__activity">
        <div class="card">
          <div class="card__imageContainer"></div>
          <div class="card__inner">
            <NewsletterSignup removeMargin={true}>
              <span class="card__metaLabel">Newsletter</span>
            </NewsletterSignup>
          </div>
        </div>
        {activityFeedItems.map((item) => <Card item={item} />)}
      </div>
    </div>
  </section>

  <style lang="scss">
    @import "@styles/home.scss";
    @import "@styles/card.scss";
  </style>
</Layout>
