---
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import type { OpenGraphData } from "@src/types.ts";

interface Props {
  title: string;
  metaDescription: string;
  openGraph: OpenGraphData;
  pageType?: string;
  canonical?: string;
  activeNav: string;
}

const { openGraph, pageType, title, metaDescription, canonical, activeNav } =
  Astro.props;

const timeToRead = `${openGraph.timeToRead} minutes`;
---

<!doctype html>
<html lang="en" color-mode="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
    <title>{title}</title>
    <meta name="description" content={metaDescription} />

    {canonical && <link rel="canonical" href={canonical} />}

    <!-- Open Graph -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@whitep4nth3r" />
    <meta name="twitter:creator" content="@whitep4nth3r" />

    <meta property="og:url" content={openGraph.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:locale" content="en_GB" />

    <meta name="image" content={openGraph.imageUrl} />
    <meta property="og:image" content={openGraph.imageUrl} />
    <meta property="og:image:alt" content={openGraph.imageAlt} />
    <meta property="og:image:width" content={openGraph.imageWidth.toString()} />
    <meta
      property="og:image:height"
      content={openGraph.imageHeight.toString()}
    />

    <meta property="og:site_name" content="whitep4nth3r.com" />

    <meta name="monetization" content="$ilp.uphold.com/J7y7wkRezRYL" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-touch-icon-120x120.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f111a" />
    <meta name="msapplication-TileColor" content="#0f111a" />
    <meta name="theme-color" content="#0f111a" />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for whitep4nth3r.com"
      href="https://whitep4nth3r.com/feed.xml"
    />
    <meta
      name="ahrefs-site-verification"
      content="94d7e941da97f60c01de0a2e8983b05fb5194a63bd79cad02f6ef7da26ee87c3"
    />

    {
      openGraph.timeToRead && (
        <>
          <meta name="twitter:label1" content="Written by" />
          <meta name="twitter:data1" content="Salma Alam-Naylor" />
          <meta name="twitter:label2" content="Reading time" />
          <meta name="twitter:data2" content={timeToRead} />
          <meta property="og:type" content="article" />
          <meta property="article:section" content="Technology" />
        </>
      )
    }

    {
      openGraph.timeToRead &&
        openGraph.articleTags.map((tag) => (
          <meta property="article:tag" content={tag} />
        ))
    }

    {!openGraph.timeToRead && <meta property="og:type" content="website" />}
    <meta name="generator" content={Astro.generator} />
  </head>
  <body data-type={pageType}>
    <Header activeNav={activeNav} />
    <main id="main_content">
      <slot />
    </main>
    <style lang="scss" is:global>
      @import "@styles/_root.scss";
      @import "@styles/_reset.scss";
    </style>
  </body>
</html>
